<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jdime/src/de/fosd/jdime/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre1.8.0_131"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.fosd.jdime.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-p -mode structured E:\Pesquisa\sample2\projects\hector\revisions\rev_adef749_a154c07\rev_left_adef749\src\test\java\me\prettyprint\cassandra\model\ApiV2SystemTest.java E:\Pesquisa\sample2\projects\hector\revisions\rev_adef749_a154c07\rev_base_fc82efe\src\test\java\me\prettyprint\cassandra\model\ApiV2SystemTest.java E:\Pesquisa\sample2\projects\hector\revisions\rev_adef749_a154c07\rev_right_a154c07\src\test\java\me\prettyprint\cassandra\model\ApiV2SystemTest.java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jdime"/>
<mapAttribute key="org.eclipse.jdt.launchingVM_INSTALL_TYPE_SPECIFIC_ATTRS_MAP">
<mapEntry key="org.eclipse.jdt.launching.JAVA_COMMAND" value="java"/>
</mapAttribute>
</launchConfiguration>
